<!DOCTYPE html>
<html lang="en" ng-app="calcApp">
    <head>
        <title>CNIT 133 - Homework 06 - Objects</title>
        <meta name"vieport" content="width=device-width, intitial-scale=1.0, user-scalable=no">
        <link href = "css/bootstrap.min.css" rel = "stylesheet">
        <link href = "css/style.css" rel = "stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
        <script src="js/script.js"></script> 
    </head>
    <body>
        <div class = "navbar navbar-default navbar-static-top">
            <div class = "container">
                <a href = "#"  class = "navbar-brand">CNIT133 Homework 06 - Objects</a>
                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <div class = "collapse navbar-collapse navHeaderCollapse">
                    <ul class = "nav navbar-nav navbar-right">
                        <li class = "active"><a href = "#">Part1</a></li>
                        <li><a href = "part02/index.html">Part2</a></li>
                        <li><a href = "part03/index.html">Part3</a></li>
                        <li><a href = "part04/index.html">Part4</a></li>
                    </ul>
                </div>
            </div>   
        </div>
        
        <h4>Input a number with at least four decimals</h4>
        <div ng-controller="CalcController">
          <form`>
            <input type="number" ng-model="inputNum"  size="30"
                   placeholder="enter number">
            <input class="btn-primary" type="reset" ng-click="Clear()" value="reset">
            <div>You entered: {{inputNum}}</div>
            <div>Your number squared: <span ng-bind="squareNum()"></span></div>
            <div>Your number to the nearest tenths position: <span ng-bind="tenthNum()"></span></div>
            <div>Your number to the nearest one hundereds position: <span ng-bind="hundredNum()"></span></div>
            <div>Your number to the nearest one thousands position: <span ng-bind="thousandNum()"></span></div>
          </form>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
    </body>
</html>
