<!DOCTYPE html>
<html ng-app="App">
    <head>
        <meta charset="utf-8">
        <title>Homework 06 - part2</title>
        <meta name"vieport" content="width=device-width, intitial-scale=1.0">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    </head>
    <body>

        <div class = "navbar navbar-default navbar-static-top">
            <div class = "container">
                <a href = "#"  class = "navbar-brand">CNIT133 Homework 06 - Objects</a>
                <button class = "navbar-toggle" data-toggle = "collapse" data-target = ".navHeaderCollapse">
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                    <span class = "icon-bar"></span>
                </button>
                <div class = "collapse navbar-collapse navHeaderCollapse">
                    <ul class = "nav navbar-nav navbar-right">
                        <li><a href = "../index.html">Part1</a></li>
                        <li class = "active"><a href = "#">Part2</a></li>
                        <li><a href = "../part03/index.html">Part3</a></li>
                        <li><a href = "../part04/index.html">Part4</a></li>
                    </ul>
                </div>    
            </div>    
        </div>
      
        <div class="container" ng-controller="SearchController"> 
            <form role="form" name="charSearch" nosubmit="">
                <h4>Enter text to be reviewed</h4>
                    <textarea name="inputText" rows="10" cols="50" ng-model="text" spellcheck="true"></textarea>
                <h4>Enter a single character to be counted</h4>
                    <input class="form-control" ng-model="charInput" ng-maxlength="1" type="text">
                    <button type="reset" class="btn btn-danger" value="reset">reset</button>
                    <h4 ng-model="result">Instance(s) of {{charInput}} in provided text is: {{countChar()}}</h4>
            </form>
        </div>

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/script.js"></script>    
    </body>
</html>
